<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
<pdf>
	<dynamic-page>
		<h1 padding="10px" background-color="#316431" width="100%"><span color="yellow">Entre</span><span color="white">Comunidades</span></h1>
		<p>{%trans%}Listado de Comunidades{%endtrans%}</p>
		<table>

			{% for comunidad in comunidades %}
				<tr>
				   <td>{{comunidad.codigo}}</td>
       			<td>{{comunidad.cif}}</td>
       			<td>{{comunidad.city.name}}</td>
      		</tr> 
			{% endfor %}

		</table>
		<p text-align="right">{{ "now"|date("d/m/Y") }}</p>
	</dynamic-page>
</pdf>