{% extends 'ECPropietarioBundle::layout.html.twig' %}

{% block title %}
	EntreComunidades
{% endblock %}

{% block sidebar %}
	{{ parent() }}
	
{% endblock %}

{% block colder %}
	{{ parent() }}
	<h2 class="verde izquierda">{{mensaje}}</h2>
	
{% endblock %}