{% extends 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}¿Eres administrador de fincas?{% endtrans %}
	{{ parent() }}
{% endblock %}

{% block sidebar %}
	{{ parent() }}
	
{% endblock %}

{% block colder %}
	{{ parent() }}
	
	<hgroup>
		<h2 class="verde centrado">{% trans %}¿Eres administrador de fincas?{% endtrans %}</h2>
   </hgroup>
   
   <article>
   	<a href="{{ path('ec_principal_alta_adminfincas') }}">{% trans %}Alta Administrador{% endtrans %}</a>
	</article>
	
{% endblock %}