{% extends 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Bienvenid@ a EntreComunidades.{% endtrans %}
{% endblock %}

{% block sidebar %}
	{{ parent() }}
	
{% endblock %}

{% block colder %}
	{{ parent() }}
	
	<h2 class="centrado verde">{% trans %}Bienvenid@ a EntreComunidades.{% endtrans %}</h2>

{% endblock %}
