{% extends 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Bienvenid@ a EntreComunidades.{% endtrans %}
{% endblock %}

{% block sidebar %}
	{{ parent() }}
	
{% endblock %}

{% block colder %}
	{{ parent() }}
	
	<hgroup>
		<h2 class="verde centrado">{% trans %}Bienvenid@ a EntreComunidades.{% endtrans %}</h2>
	</hgroup>
	
	<article>
	
	</article>
	
{% endblock %}