{% extends 'ECPrincipalBundle::layout.html.twig' %}

{% block sidebar %}

{% endblock %}

{% block colder %}
	{% if is_granted('ROLE_ADMINFINCAS') %}	  
		<div class="subtitulo centrado">Bienvenido {{ app.user.nombre }}.</div>
	{% else %}
		{% if is_granted('ROLE_VECINO') %}	  
			<div class="subtitulo centrado">Bienvenido {{ app.user.nombre }}.</div>
		{% else %}
			<div class="subtitulo centrado">Bienvenido a EntreComunidades.</div>
		{% endif %}
	{% endif %}
{% endblock %}
