{% extends 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Formulario de acceso{% endtrans %}
	{{ parent() }}
{% endblock %}

{% block sidebar %}
	{{ parent() }}
	
{% endblock %}

{% block colder %}
	{{ parent() }}
		<section id="form_login">
			<h2 class="verde centrado">{% trans %}Formulario de acceso{% endtrans %}</h2>
		
			{% if error %}
				<div class="mensaje" style="color:red;">Datos incorrectos</div>
			{% endif %}
		
			<form method="post" action="{{ path('login_check') }}">
				<div class="campo_login">
					<div class="label_campo"><label for="username">{% trans %}Usuario{% endtrans %}</label></div>
					<input type="text" name="_username" id="username"/>
				</div>
				<div class="campo_login">
					<div class="label_campo"><label for="password">{% trans %}Contraseña{% endtrans %}</label></div>
					<input type="password" name="_password" id="password" maxlength="9"/>
				</div>
				<div class="campo_login"><div></div><input type="submit" value="{% trans %}Acceder{% endtrans %}"></div>
			</form>
		</section>
{% endblock %}
