{% extends 'ECPrincipalBundle::layout.html.twig' %}

{% block sidebar %}

{% endblock %}

{% block colder %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje" style="color:{{flashColor}}; border-color:{{flashColor}};">
        		{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
{% endblock %}
