.anuncio{
	width: 80%;
   padding:4px;
	height: auto;
	overflow: hidden;
	margin: 15px auto;
	position: relative;
	z-index: 1000;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
}

.anuncio_color{
	background: -webkit-linear-gradient(#D9E1E8, white);
   background: -moz-linear-gradient(#D9E1E8, white);
   background: -o-linear-gradient(#D9E1E8, white);
   background: linear-gradient(#D9E1E8, white);	
}

.buscador_color{
	background: -webkit-linear-gradient(#A7BDD0, white);
   background: -moz-linear-gradient(#A7BDD0, white);
   background: -o-linear-gradient(#A7BDD0, white);
   background: linear-gradient(#A7BDD0, white);
}

.denunciar_color{
	background: -webkit-linear-gradient(#ffd486, white);
   background: -moz-linear-gradient(#ffd486, white);
   background: -o-linear-gradient(#ffd486, white);
   background: linear-gradient(#ffd486, white);
}

.anuncio span{
	text-decoration: none;
}

.precio span{
	margin-left: 0;	
}

.label_campo span{
	margin-left: 0;	
}

.total_resultados{
	width: 80%;
	margin: 0 auto 10px;
	text-align: right;
}

.paginador{
	width: auto;
	text-align: center;
	position: relative;
	z-index: 1000;
	margin-top: 10px;
}

.pagination{
	font-weight: bold;	
}

.pagination span a{
	text-decoration: none;
	color: white;
	padding: 6px;
	margin-left: 2px;
	margin-right: 2px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	background-color: #7CB5EC;
}

.pagination span a:hover{
	background-color: #337AB7;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

fieldset{
	background-color: white;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	border: #7CB5EC 1px outset;
	min-height: 120px;
	margin-right: 25px;
}

.foto_anuncio a{
	margin-left: 0;	
}

.foto_anuncio a img:hover{
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  transform: none;
}

.label_campo span:hover{
	text-decoration: none;
	cursor: auto;	
}

.enlace{
	text-decoration: none;
	color: #2C4853;	
}

.titulo_anuncio{
	width: 100%;
	height: auto;
	border-bottom: 1px #223E56 solid;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

.referencia_anuncio{
	float: right;
}

.descripcion_anuncio{
	position: relative;
	text-align: justify;
	padding: 5px;
	margin-left: 5px;
	float: left;
	width: 70%;
}

.foto_anuncio{
	float: left;
	position: relative;
	width: 25%;
}

.foto_anuncio img{
	max-height: 120px;
	max-width: 100%;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
}

.footer_anuncio{
	width: 100%;
	float: right;
	position: relative;
	clear: both;
	text-align: right;
	margin-top: 2px;
}

.num_fotos{
	width: auto;
	float: left;
	position: relative;
	color:#005D84;	
	padding: 4px;
	margin-left: 2px;
}

.precio{
	width: auto;
	float: left;
	position: relative;
	color:#223E56;
	background: #D9E1E8;
   padding:4px;
   border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	/*border:1px green solid;*/
}

ol#ordenable{
	 list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/	
    
    margin: 0;
    margin-left: 3em;
    padding: 0;
     
    counter-reset: li-counter;
}

ol#ordenable > li:before{
	 position: absolute;
    top: 0;
    left: -0.95em;
    width: 1em;
 
    font-size: 2em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #7CB5EC;
     
    transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    z-index: 1000;
    overflow: hidden;
     
    content: counter(li-counter);
    counter-increment: li-counter;	
}

ol#ordenable > li img{
	max-height: 120px;
	max-width: 135px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
}

ol#ordenable > li{
	display: inline-table;	
	position: relative;
	margin-bottom: 10px;
	margin-right: 25px;
}

ol#ordenable > li a{
	position: relative;
	float: right;
}

.oculto{
	visibility: hidden;	
}

.highlight_anuncio{
	color: #078CC3;	
}

.highlight_servicio{
	color: #ffa500;
}

.letra_grande{
	font-size: 1.2em;	
	margin-right: 4px;
}

/*VERSION MOVIL*/
@media (max-width: 767px) {
	.anuncio{
		margin: 5px auto 10px;
		padding: 0;
		width: 100%;
	}
	.total_resultados{
		margin: 0 auto 5px;
	}
	.foto_anuncio img{
		max-height: 60px;
		max-width: 100%;
	}
	.anuncio span{
		margin-left: 0;//5px
	}
	.precio{
		padding: 2px;	
	}
	.num_fotos{
		padding: 2px;	
	}
	.letra_grande{
		font-size: 1.1em;	
		margin-right: 2px;
	}
	fieldset{
		margin-right: 4px;	
	}
}