.myMenu {
    margin: 2px;
    padding: 0;
}

.myMenu li {
    float: left;
    list-style: none outside none;
}

.myMenu li a:link, .myMenu li a:visited {
    background-color: #ACC6AC;
    color: #316431;
    display: block;
    margin: 0;
    padding: 0.3em 0.8em;
    text-decoration: none;
}

.myMenu li a:hover {
    background-color: #316431;
    color:#fff;
}

.myMenu li ul {
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    width: 130px;
    border: 1px solid #316431;
    font-size: 12px;
}

.myMenu li ul li {
    display: inline;
    float: none;
    z-index: 1;
    padding:0;
}

.myMenu li ul li a:link, .myMenu li ul li a:visited {
    background-color: #D9E1E8;
    width: auto;
}

.myMenu li ul li a:hover {
    background-color: #316431;
    color: #fff;
}