.btn_delete {
    background-color: #d9716f;
    background-image: url('../images/ico_delete.png');
}

.btn_baja {
    background-color: #d9716f;
    background-image: url('../images/ico_delete.png');
}

.btn_download {
    background-color: #82bd82;
    background-image: url('../images/ico_download.png');
}

.btn_preview {
    background-color: #d4b166;
    background-image: url('../images/ico_preview.png');
}

.btn_consulta {
    background-color: #d1a0e7;
    background-image: url('../images/ico_lupa.png');
}

.btn_estadistica_incidencia_categoria {
    background-color: #005D84;
    background-image: url('../images/ico_estadisticas.png');
}

.btn_estadistica_anuncio_categoria {
    background-color: #005D84;
    background-image: url('../images/ico_estadisticas.png');
}

.btn_estadistica_incidencia_fecha {
    background-color: #005D84;
    background-image: url('../images/ico_estadisticas.png');
}

.btn_estadistica_comunidades {
    background-color: #005D84;
    background-image: url('../images/ico_estadisticas.png');
}

.btn_password {
    background-color: #d4b166;
    background-image: url('../images/ico_password.png');
}

.btn_nuevo {
	 margin-bottom: 8px;
    background-color: #7cb5ec;
    background-image: url('../images/ico_add.png');
}

.btn_return {
	 margin-bottom: 8px;
    background-color: #d4b166;
    background-image: url('../images/ico_return.png');
}

.btn_mis_anuncios{
	background-color: #82bd82;	
	background-image: url('../images/ico_go.png');
}

.btn_contactar {
    background-color: #82bd82;
}

.btn_denunciar {
    background-color: #d4b166;
}

span.boton_anuncio{
	text-decoration: none;
   background-repeat: no-repeat;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -o-border-radius: 4px;
   color: #FFFFFF;
   cursor: pointer;
   display: inline;
   margin: 2px;
   padding: 8px 8px 8px 8px;
   background-position: 5px center;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: bold;
}

span.boton_anuncio:hover{
	text-decoration: none;
	background-color: #337AB7;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a.boton_documento {
    text-decoration: none;
    background-repeat: no-repeat;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline;
    margin: 2px;
    padding: 8px 8px 8px 30px;
    background-position: 5px center;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: bold;
}

a.boton_documento:hover{
	background-color: #337AB7;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a.boton_alta {
    background-repeat: no-repeat;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-left: 2px;
    text-decoration: none;
    padding: 8px 8px 8px 30px;
    background-position: 5px center;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: bold;
}

a.boton_alta_admin {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-left: 2px;
    text-decoration: none;
    padding: 8px 8px 8px 8px;
    background-color: #7cb5ec;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-indent: 0;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: bold;
}

a.boton_alta:hover, a.boton_alta_admin:hover{
	background-color: #337AB7;
	color:#fff;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a.boton_estadistica {
    text-decoration: none;
    background-repeat: no-repeat;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 2px;
    padding: 8px 8px 8px 30px;
    background-position: 2px center;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: bold;
}

a.boton_estadistica:hover{
	background-color: #A7BDD0;
	color:white;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/*VERSION MOVIL*/
@media (max-width: 767px) {
	a.boton_estadistica {
    	padding: 3px 5px 3px 24px;
	}
	a.boton_alta {
    	padding: 3px 5px 3px 24px;
	}
	a.boton_alta_admin {
    	padding: 3px 5px 3px 5px;
	}
	a.boton_documento {
    	padding: 3px 5px 3px 24px;
	}
	span.boton_anuncio{
	   padding: 3px 5px 3px 5px;
		background-position: 2px center;
		display:inline-block;
		margin-left: 0;
	}
	a.boton_documento{
		background-position: 2px center;
	}
	a.boton_alta{
		background-position: 2px center;	
	}
}