.btn_delete {
    background-color: red;
    background-image: url('../images/ico_delete.png');
}

.btn_download {
    background-color: green;
    background-image: url('../images/ico_download.png');
}

.btn_preview {
    background-color: purple;
    background-image: url('../images/ico_preview.png');
}

.btn_estadistica_incidencia_categoria {
    background-color: #7cb5ec;
    background-image: url('../images/ico_estadisticas.png');
}

.btn_estadistica_incidencia_fecha {
    background-color: #425f9c;
    background-image: url('../images/ico_estadisticas.png');
}

.btn_estadistica_comunidades {
    background-color: #355664;
    background-image: url('../images/ico_estadisticas.png');
}

.btn_password {
    background-color: orange;
    background-image: url('../images/ico_password.png');
}

.btn_nuevo {
	 margin-bottom: 8px;
    background-color: orange;
    background-image: url('../images/ico_add.png');
}

a.boton_documento {
    text-decoration: none;
    background-repeat: no-repeat;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline;
    margin: 2px;
    text-decoration: none;
    font-size: 0.9em;
    padding: 3px 7px 3px 29px;
    background-position: 5px center;
}

a.boton_documento:hover{
	background-color: #F7D118;
}

a.boton_alta {
    text-decoration: none;
    background-repeat: no-repeat;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-left: 2px;
    text-decoration: none;
    font-size: 0.9em;
    padding: 3px 7px 3px 28px;
    background-position: 2px center;
}

a.boton_alta:hover{
	background-color: #316431;
	color:#fff;
}

a.boton_estadistica {
    text-decoration: none;
    background-repeat: no-repeat;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-left: 2px;
    text-decoration: none;
    font-size: 0.9em;
    padding: 3px 7px 3px 28px;
    background-position: 2px center;
}

a.boton_estadistica:hover{
	background-color: #316431;
	color:#fff;
}