/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 25.01.2010
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <div><ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <div><ul><li><a href="#"><span>level 3</span></a></li></ul></div>
 *                  </li>
 *              </ul></div>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */
 
#menu_comunidad_general{
	width: 102.2%;
	margin-left: -10px;
	height: 35px;
	background: #f8e692;
   margin-top: 5px;
   margin-bottom: 20px;
   border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
}

.titulo_comunidad{
	width: auto;
	float: left;
	font-size: 1.9em;
	margin-top: 2px;
	margin-left: 5px;
}

.titulo_comunidad em{
	text-shadow: 0.06em 0.06em 0.02em #316431;
	-webkit-text-shadow: 0.06em 0.06em 0.02em #316431;
	-moz-text-shadow: 0.06em 0.06em 0.02em #316431;
	-o-text-shadow: 0.06em 0.06em 0.02em #316431;
}

/* menu_comunidad::base */
#menu_comunidad {
    z-index:100;
    height:35px;
    font-weight: bold;
	 /*background: #316431;*/
	 background: #005D84;
	 width: auto;
	 float: right;
	 border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
}
#menu_comunidad .menu_comunidad {
    position:relative;;
}
#menu_comunidad * {
    list-style:none;
    border:0;
    padding:0;
    margin:0;
}
#menu_comunidad a {
    display:block;
    padding:8px 14px 9px 14px;
    white-space:nowrap;
}
#menu_comunidad li {
    float:left;
    background:#fff;
}
#menu_comunidad li li {
    float:none;
    _border:1px solid #494949; /** fix for ie6 */
}
#menu_comunidad div {
    visibility:hidden;
    position:absolute;
    background:url(../images/menu_comunidad/pix.gif);
}
#menu_comunidad div div {
    margin:-24px 0 0 -1px;
    left:100%;
}
#menu_comunidad li:hover>div { visibility:visible; }

/* menu_comunidad::special styles */
/* menu_comunidad::level 1 */
#menu_comunidad a {
    text-decoration:none;
    color:#fff;
    position:relative;
    z-index:77;
}
#menu_comunidad a:hover, #menu_comunidad li.selected  {
	background: #A7BDD0;
    color:#F7D118;
}
#menu_comunidad a:hover span { color:#F7D118; }
#menu_comunidad>ul>li:hover>a, #menu_comunidad li.selected  {
	background: #A7BDD0;
   color:#F7D118;
}
#menu_comunidad>ul>li:hover>a span { color:#316431; }

#menu_comunidad span {
    color:#fff;
    font:13px/18px 'Helvetica Neue','Helvetica',Arial,sans-serif;
    font-weight: bold;
}
#menu_comunidad li { background:none; }
/* menu::level >= 2 */
#menu_comunidad li li a {
    padding:0;
    position:static;
}
#menu_comunidad li li a:hover { background:#57ac3c; }
#menu_comunidad li li a span { color:#fff; }
#menu_comunidad li li a:hover span { color:#ffffff; }
#menu_comunidad li li a.parent span { background:url(../images/menu_comunidad/pointer.gif) no-repeat right 9px; _background-position:right 10px; }
*+html #menu_comunidad li li a.parent span { background-position:right 10px; }
#menu_comunidad li li span {
    display:block;
    text-transform:none;
    line-height:16px;
    padding:4px 25px 4px 14px;
    font-size:11px;
}
#menu_comunidad li div { background: #A7BDD0; }
/** <fix for ie6> */
#menu_comunidad div div {
    _margin-top:-25px;
    _background:#393939;
}
#menu_comunidad li li li { _border:1px solid #393939; }
#menu_comunidad div div div { _background:#292929; }
#menu_comunidad li li li li { _border:1px solid #292929; }
/** </fix for ie6> */

/* lava lamp */
div#menu_comunidad li.back {
    width:10px;
    height:35px;
    z-index:8;
    position:absolute;
}
div#menu_comunidad li.back .left {
    width:auto;
    height:35px;
    float:none;
    position:relative;
    top:0;
    left:0;
    visibility:visible;
}

/*VERSION MOVIL*/
