/*MENU PRINCIPAL*/
#menu{
	float:left;
	clear: both;
	width: auto;
	padding-right: 29px;
	margin-top:22px;
	border-top-right-radius: 3em;
	background-color: #316431; 
}

#menu ul.navigation{ 
	list-style: none; 
	padding: 0;
	margin:0;
}

#menu .navigation li { 
	display: table-cell;
}

#menu .navigation li a { 
	display: inline-block;
 	padding: 9px 12px; 
   text-decoration: none;
   color:#fff;
   border-left: 1px solid #F7D118;
}

#menu .navigation li:hover > a {
	background:#F7D118;
	color:#316431;
   padding: 9px 12px;
   border-left: 1px solid #F7D118;
}

/*SUBMENU*/
#submenu{
	float:left;
	clear: both;
	width: auto;
	padding-right: 29px;
	border-bottom-right-radius: 3em;
	background-color: #acc6ac; 
}

#submenu ul.navigation{ 
	list-style: none; 
	padding: 0;
	margin:0;
}

#submenu .navigation li { 
	display: table-cell;
}

#submenu .navigation li a { 
	display: inline-block;
 	padding: 9px 20px; 
   text-decoration: none;
   color:#316431;
   border-left: 1px solid #D9E1E8;
}

#submenu .navigation li:hover > a {
	background:#D9E1E8;
	color:#316431;
   padding: 9px 20px;
   border-left: 1px solid #D9E1E8;
}