body { 
	font-family: sans-serif, serif, Arial, Helvetica;
	font-size: 0.80em; /*12px*/
	color: #000; 
   background: -webkit-linear-gradient(#acc6ac, #D9E1E8);
   background: -moz-linear-gradient(#acc6ac, #D9E1E8);
   background: -o-linear-gradient(#acc6ac, #D9E1E8);
   /*background: -webkit-linear-gradient(#93c1d4, white);
   background: -moz-linear-gradient(#93c1d4, white);
   background: -o-linear-gradient(#93c1d4, white);*/
	height: 100%;
   margin: 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
  /* background-image: url('../images/background.jpg');*/

}

/*TIPO_LETRA_TITULO*/
@font-face {
  font-family: 'Miltonian Tattoo';
  font-style: normal;
  font-weight: 400;
  src: local('Miltonian Tattoo'), local('MiltonianTattoo'), url('../css/1oU_8OGYwW46eh02YHydnzhIoxOGKXnDP3ByRnzCG7U.woff') format('woff');
}

.letra_miltonian{
	font-family: 'Miltonian Tattoo', cursive, serif, Arial, Helvetica;	
}

#box{
	width: 962px;
	margin:0 auto;
	margin-top: 20px;
	border-radius:14px;
	box-shadow: 10px 10px 5px #888888;
}

p{
	line-height: 120%;
}

.clear { 
	clear: both; 
}

.centrado{
	text-align: center;
}

.izquierda{
	text-align: left;
}

.derecha{
	text-align: right;
}

.margen_izquierdo{
	margin-left: 38px;	
}

h2{
	font-size: 1.333em;
	margin-bottom: 12px;
	font-family: 'Miltonian Tattoo', cursive, serif, Arial, Helvetica;	
}

.oculto{
	display: none;	
}

.inline{
	display:inline;	
}

.ventana{
	display: none;	
}

/*Cabecera*/
/*Topheader*/
#header{
	width: 100%;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
}

#topheader{
	height: 60px; 
	background-color: #316431;
	color:#fff;
	padding-left:1%;
	padding-right: 1%;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
}

#tituloheader{
	margin:0 auto;	
}

h1{
	font-size: 4.167em; 	
	margin:0;
	float: left;
	font-family: 'Miltonian Tattoo', cursive, serif, Arial, Helvetica;	
}

#idiomas{
	float:right;
	width: auto;
	margin-top: 8px;
	margin-left: 8px;	
}

/*Pie*/
footer{ 

}

#footer{
 	background-color: #316431; 
 	color:#fff;
	width: 100%;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}

#titulofooter{
	padding: 12px;
	margin:0 auto;	
	width: 33%;
}

.titulofooter{
	font-size: 15px; 
	margin:0;
	float: left;
}

.amarillo{
	color:#f7d118;	
}

.blanco{
	color:#fff;	
}

.verde{
	color: #316431;	
}

.negrita{
	font-weight: bold;	
}

/*subheader*/
#subheader{
	background-color:  #D9E1E8;
	padding-right: 1%;
	height: 60px;
}

#botones{
	margin: 0 auto;
	clear: both;
}

/*Contenido*/
#wrapper{
	clear: both;
}

#contenido{
	width: 100%;
	overflow:hidden;
	clear: both;
}

/*Columna Izquierda*/
#sidebar { 
	clear: both;
	background-color: #fff;
	height: 34px;
	background: -webkit-linear-gradient(white, #D9E1E8);
   background: -moz-linear-gradient(white, #D9E1E8);
   background: -o-linear-gradient(white, #D9E1E8);
   background-repeat: no-repeat;
   background-attachment: fixed;
}

/*Columna Derecha*/
#col-der { 
	text-align: left;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 45px;
	padding-right: 45px;
	min-height: 350px;
	background: -webkit-linear-gradient(white, #D9E1E8);
   background: -moz-linear-gradient(white, #D9E1E8);
   background: -o-linear-gradient(white, #D9E1E8);
   background-repeat: no-repeat;
   background-attachment: fixed;
}

/*Mensajes de erros y éxito*/
.mensaje{
	text-align: center;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	margin-bottom: 5px;
	margin-top:15px;
}

/*FORMULARIO*/
input[type="submit"],input[type="reset"],input[type="button"]{
	background-color: #316431;
   color: #D9E1E8;
   border-radius: 10px;
}

input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover{
	background-color: #F7D118;
   color: #316431;
   border-radius: 10px;
}

input, select, textarea
{
	font-size: 1.167em;
   font-family: Arial, helvetica;
   outline: none;
   transition: all 0.75s ease-in-out;
   -webkit-transition: all 0.75s ease-in-out;
	-moz-transition: all 0.75s ease-in-out;
	-o-transition: all 0.75s ease-in-out;
   border: 1px solid rgba(0,0,0, 0.2);
   color: #316431;
   background-color: #eaeff3;
   margin-left: 10px;
   resize: none;
   cursor:pointer;
   text-align:left;
   padding: 2px;
   border-radius:8px;
}

input:focus,textarea:focus,select:focus
{
	box-shadow: 0 0 10px #aaa;
	border: 1px solid #999;
	background-color: white;
}

#entrar{
	float:right;
	width: auto;
	display: inline;
}

#entrar > a{
	color:#316431;
	text-decoration: none;
	font-size: 1.2em;
	float: right;
	font-weight: bold;
}

#entrar > div{
	font-size: 1.083em;
	color:#316431;	
	float: right;
	font-style: oblique;
}

.form{
	margin: 0 auto;
	margin-top: 20px;
	border: 2px outset #316431;
	padding: 20px;
	margin-bottom: 20px;
	display: table;
	background: -webkit-linear-gradient(#D9E1E8, #ACC6AC);
   background: -moz-linear-gradient(#D9E1E8, #ACC6AC);
   background: -o-linear-gradient(#D9E1E8, #ACC6AC);
   border-radius:14px;
   width: 600px;
   box-shadow: 10px 10px 5px #888888;
}

.campo{
   margin-top: 10px;
   /*width: 300px;*/
   float: left;
	margin-bottom: 5px;
}

#form_login{
	margin: 0 auto;
	margin-top: 20px;
	border: 2px outset #316431;
	padding: 20px;
	margin-bottom: 20px;
	width: 350px;
	background: -webkit-linear-gradient(#D9E1E8, #ACC6AC);
   background: -moz-linear-gradient(#D9E1E8, #ACC6AC);
   background: -o-linear-gradient(#D9E1E8, #ACC6AC);
   border-radius:14px;
   box-shadow: 10px 10px 5px #888888;
}

.campo_login{
    margin-top: 15px;
    /*width: 300px;*/
    margin-left: 30px;
}

.label_campo{
	width: 80px;	
	display: -moz-stack;
}

.error{
	width: 300px;
	color:red;
	padding: 0;
}

.error > ul{
	display: inline-block; 
	list-style: none;
	padding: 0;
}

#loading{
	display: none;
	float: left;	
}

/*ESTADÍSTICAS*/
.grafica_estadisticas{
	min-width: 500px;
	min-height: 450px;
	margin: 0 auto;
	margin-top:20px;
}