body { 
	font-family: serif, Arial, Helvetica;
	font-size: 0.750em; /*12px*/
	color: #000; 
	background-color:  #d9e1e8;
	margin: 0;
}

.clear { 
	clear: both; 
}

.centrado{
	text-align: center;
}

.izquierda{
	text-align: left;
}

.derecha{
	text-align: right;
}

h2{
	font-size: 1.333em;
	margin-bottom: 10px;
}

/*Cabecera*/
/*Topheader*/
#topheader{
	height: 60px; 
	background-color: #316431; 
	color:#fff;
}

#tituloheader{
	width: 962px;
	margin:0 auto;	
}

h1{
	font-family: 'Miltonian Tattoo', cursive, serif, Arial, Helvetica;
	font-size: 4.167em; 	
	margin:0;
	float: left;
}

#idiomas{
	float:right;
	width: auto;
	margin-top: 8px;
	margin-left: 8px;	
}

/*Pie*/
footer{ 
	padding: 12px;
 	background-color: #316431; 
 	color:#fff;
	box-shadow:0 4px 4px 0 #000000;
}

#footer{
	width: 962px;
	margin:0 auto;	
}

#titulofooter{
	margin:0 auto;	
	width: 33%;
}

.titulofooter{
	font-family: 'Miltonian Tattoo', cursive, serif, Arial, Helvetica;
	font-size: 15px; 
	margin:0;
	float: left;
}

.amarillo{
	color:#f7d118;	
}

.blanco{
	color:#fff;	
}

.verde{
	color: #316431;	
}

/*subheader*/
#subheader{
	border-bottom: 2px solid #316431;
	background-color:  #d9e1e8;
}

#botones{
	margin: 0 auto;
	width: 962px;
	clear: both;
	height: 60px;
}

#menu{
	float:left;
	clear: both;
	width: 600px;
	margin-top:25px;
	padding: 0;
	margin-left: 4px;
}

#menu ul.navigation{ 
	list-style: none; 
	padding: 0;
	margin:0;
}

#menu .navigation li { 
	display: inline ;
}

#menu .navigation li a { 
	display: inline-block;
 	padding: 10px 15px; 
 	background-color: #316431; 
 	border-top-left-radius: 1em;
   border-top-right-radius: 1em;
   text-decoration: none;
   color:#fff;
}

#menu .navigation li:hover > a {
	background:#F7D118;
	color:#316431;
   border-left: 2px solid #316431;
   padding: 10px 14px;
}

/*Contenido*/
#wrapper{
		background-color: #fff;
		clear: both;
}

#contenido{
	width: 962px;
	margin:0 auto;
	overflow:hidden;
	clear: both;
	background-color: #fff;
}

/*Columna Izquierda*/
#sidebar { 
	width: 20%;
	padding: 15px; 
	float: left;
	clear: both;
}

/*Columna Derecha*/
#col-der { 
	text-align: left;
	padding: 15px; 
	/*border-left: 2px solid #316431;*/
	width: 72%;
	float: left;
	min-height: 400px;
}

/*Mensajes de erros y éxito*/
.mensaje{
	text-align: center;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	margin-bottom: 5px;
}

/*FORMULARIO*/
input, select, textarea
{
	font-size: 1.167em;
   font-family: Arial, helvetica;
   outline: none;
   transition: all 0.75s ease-in-out;
   border-radius: 3px;
   border: 1px solid rgba(0,0,0, 0.2);
   color: #316431;
   background-color: #d9e1e8;
   padding: 3px;
   margin-left: 20px;
   padding: 5px;
   resize: none;
   cursor:pointer;
   text-align:left;
}

input:focus,textarea:focus,select:focus
{
	box-shadow: 0 0 10px #aaa;
	border: 1px solid #999;
	background-color: white;
}

#entrar{
	float:right;
	width: 250px;
	margin-top:5px;
}

#entrar > a{
	color:#316431;
	text-decoration: none;
	font-size: 1.2em;
	float: right;
	font-weight: bold;
}

#entrar > div{
	font-size: 1.083em;
	color:#316431;	
	float: right;
	font-style: oblique;
}

.form{
	margin: 0 auto;
	margin-top: 20px;
	border: 2px outset #316431;
	padding: 20px;
	margin-bottom: 20px;
	display: inline-block;
}

.campo{
    margin-top: 15px;
    /*width: 300px;*/
    float: left;
    margin-left: 10px;
    height: 35px;
}

#form_login{
	margin: 0 auto;
	margin-top: 20px;
	border: 2px outset #316431;
	padding: 20px;
	margin-bottom: 20px;
	width: 350px;
}

.campo_login{
    margin-top: 15px;
    /*width: 300px;*/
    margin-left: 10px;
}

.label_campo{
	width: 80px;	
	display: inline-block; 
}

.error{
	width: 300px;
	color:red;
	padding: 0;
}

.error > ul{
	display: inline-block; 
	list-style: none;
	padding: 0;
}

#loading{
	display: none;
	float: left;	
}