/*TIPO_LETRA_TITULO*/
@font-face {
  font-family: 'Miltonian Tattoo';
  font-style: normal;
  font-weight: 400;
  src: local('Miltonian Tattoo'), local('MiltonianTattoo'), url('../css/1oU_8OGYwW46eh02YHydnzhIoxOGKXnDP3ByRnzCG7U.woff') format('woff');
}

.letra_miltonian{
	font-family: 'Miltonian Tattoo', cursive, serif, Arial, Helvetica;	
}

.clear { 
	clear: both; 
}

.centrado{
	text-align: center;
}

.izquierda{
	text-align: left;
}

.derecha{
	text-align: right;
}

.flotar_izquierda{
	float: left !important;	
}

.flotar_derecha{
	float: right !important;		
}

.margen_izquierdo{
	margin-left: 38px;	
}

h2{
	font-size: 1.333em;
	margin-bottom: 12px;
	color: #005D84;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;	
	text-shadow: 0.06em 0.06em 0.02em #C7D4DE;
	-webkit-text-shadow: 0.06em 0.06em 0.02em #C7D4DE;
	-moz-text-shadow: 0.06em 0.06em 0.02em #C7D4DE;
	-o-text-shadow: 0.06em 0.06em 0.02em #C7D4DE;
}

p{
	text-align: justify;	
	line-height: 150%;
}

p+p{
  text-indent: 2em;	
}

.link{
	text-decoration: none;	
   color: #337AB7;
}

.link:hover{
	text-decoration: underline;	
}

.oculto{
	display: none;	
}

.inline{
	display:inline;	
}

.ventana{
	display: none;	
}

#contador{
	text-align: right;	
}

h1{
	font-size: 3.9em; 	
	margin-right: 8px;
	margin-top: 0;
	margin-bottom: -8px;
	float: left;
	font-style: oblique;
	font-family: 'Miltonian Tattoo', cursive, serif, Arial, Helvetica;	
	text-shadow: 0.06em 0.06em 0.02em #223E56;
	-webkit-text-shadow: 0.06em 0.06em 0.02em #223E56;
	-moz-text-shadow: 0.06em 0.06em 0.02em #223E56;
	-o-text-shadow: 0.06em 0.06em 0.02em #223E56;
}

.cursor_pointer{
	cursor: pointer;	
}
#entre{
	/* Firefox */
	-moz-transform: rotate(0deg);
	-moz-transition: all 0.3s ease;
	/* WebKit */
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s ease;
	/* Opera */
	-o-transform: rotate(0deg);
	-o-transition: all 0.3s ease;
	/* Standard */
	transform: rotate(0deg);
	transition: all 0.3s ease;
		display: -moz-box;
}

#entre:hover{
	/* Firefox */
	-moz-transform: rotate(-4deg);
	-moz-transition: all 0.3s ease;
	/* WebKit */
	-webkit-transform: rotate(-4deg);
	-webkit-transition: all 0.3s ease;
	/* Opera */
	-o-transform: rotate(-4deg);
	-o-transition: all 0.3s ease;
	/* Standard */
	transform: rotate(-4deg);
	transition: all 0.3s ease;
	display: -moz-box;
}

a img:hover {
  /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.25, 1.25); // This is the enlarged size scale of the image.
  -webkit-transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.25, 1.25);
  -moz-transition-duration: 300ms;
  -moz-transition-timing-function: ease-out; 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.25, 1.25);
  -ms-transition-duration: 300ms;
  -ms-transition-timing-function: ease-out; 
  /*Standard*/
  transform: scale(1.25, 1.25);
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

#titulofooter a{
	text-decoration: none;
	font-style: oblique;	
}

.titulofooter{
	font-size: 15px; 
}

#tecnologiafooter img{
	height: 20px;
}

#tecnologiafooter a{
	text-decoration: none;
	margin-left: 5px;	
}

.amarillo{
	color:#f7d118;	
}

.blanco{
	color:#fff;	
}

.rojo{
	color: red;	
}

.naranja{
	color:orange;	
}

.negrita{
	font-weight: bold;	
}

.azul_oscuro{
	color: #223E56;
}

.azul{
	color: #005D84;
}

.azul_fuerte{
	color: #337AB7;	
}

.azul_label{
	color: #355664;	
}

a img{
	vertical-align:middle;
}

/*MENSAJES FLASH DE ERROR Y EXITO*/
.mensaje{
	padding: 12px;
}

.red{
	color: red;
	background-color: #F2DEDE;
	text-align: center;
	margin-bottom: 5px;
	margin-top:5px;
	border-radius: 4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
}

.green{
	color: green;
	background-color: #DFF0D8;
	text-align: center;
	margin-bottom: 5px;
	margin-top:5px;
	border-radius: 4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
}

/*FORMULARIO*/
input[type="submit"],input[type="reset"],input[type="button"]{
	background: #337AB7;
   color: white;
   border-radius: 4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover{
	background: #A7BDD0;
   color: white;
  -moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

input, select, textarea
{
	font-size: 1.167em;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;	
   outline: none;
   transition: all 0.75s ease-in-out;
   -webkit-transition: all 0.75s ease-in-out;
	-moz-transition: all 0.75s ease-in-out;
	-o-transition: all 0.75s ease-in-out;
   border: 1px solid rgba(0,0,0, 0.2);
   color: #337AB7;
   background-color: white;
   margin-left: 10px;
   resize: none;
   cursor:pointer;
   text-align:left;
   padding: 6px;
   border-radius:4px;
   -webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
}

textarea{
	width: 90%;	
}

input:focus,textarea:focus,select:focus
{
	box-shadow: 0 0 10px #aaa;
	-webkit-box-shadow: 0 0 10px #aaa;
	-moz-box-shadow: 0 0 10px #aaa;
	-o-box-shadow: 0 0 10px #aaa;
	border: 1px solid orange;
}

#entrar > a{
	clear: both;
	color:#fff;
	text-decoration: none;
	float: right;
	font-weight: bold;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-moz-border-bottom-right-radius:4px;
	-o-border-bottom-left-radius:4px;
	-o-border-bottom-right-radius:4px;
	background: #337AB7;
	padding: 8px 10px;;
	margin-bottom: 2px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;	
}

#entrar >a:hover{
	background: #A7BDD0;
	color:white;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#entrar > div{
	font-size: 1em;
	color:#337AB7;	
	float: right;
	font-style: oblique;
	clear: both;
}

.form{
	margin: 0 auto;
	margin-top: 20px;
	/*border: 2px outset #316431;*/
	padding: 10px;
	margin-bottom: 20px;
	display: table;
	background: linear-gradient(#D9E1E8, white);
	background: -webkit-linear-gradient(#D9E1E8, white);
   background: -moz-linear-gradient(#D9E1E8, white);
   background: -o-linear-gradient(#D9E1E8, white);
   border-radius:4px;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   -o-border-radius:4px;
   width: auto;
   position: relative;
   z-index: 1000;
}

.form_valorar{
	width: 500px;	
}

.form_incidencia{
	width: 100%;	
}

.campo{
   margin-top: 10px;
   /*width: 300px;*/
   float: left;
	margin-bottom: 5px;
}

#form_olvido_password{
	position: relative;
	z-index: 1000;	
}

#form_login{
	margin: 0 auto;
	margin-top: 20px;
	/*border: 2px outset #316431;*/
	padding: 20px;
	margin-bottom: 20px;
	width: 350px;
	background: -webkit-linear-gradient(#D9E1E8, white);
   background: -moz-linear-gradient(#D9E1E8, white);
   background: -o-linear-gradient(#D9E1E8, white);
   background: linear-gradient(#D9E1E8, white);
   border-radius:4px;
   -webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
   position: relative;
   z-index: 1000;
}

.campo_login{
    margin-top: 10px;
    /*width: 300px;*/
    margin-left: 30px;
}

.label_campo_login{
	width: 80px;	
	display: inline-block;
	color: #355664;	
}

.label_campo_login:last-child{
	width: auto;
}

.label_campo{
	width: 80px;
	display: table-row;
	color: #355664;	
}

.label_campo2{
	width: 80px;	
	display: inline-block;
	color: #355664;	
}

.label_campo3{
	display:inline-table;
	width: 124px;
	color: #355664;	
}

label {
    color: #355664;
    display: inline;
    width: 80px;
}

.error{
	width: 300px;
}

.error > ul{
	display: inline-block; 
	list-style: none;
	padding: 0;
}

#propiedad{
	float: right;
	color: #337AB7;
	text-align: right;
}

.loading{
	display: none;
	background-image: url('../images/loading.gif');
	height:32px;
   width:32px; 
}

/*DOCUMENTOS*/
#documento{
	margin: 0 auto;	
	width: 82%;
}

#documento div{
	margin-bottom: 8px;	
}

#documento div nav{
	margin-top: 20px;
	margin-bottom: 20px;	
}

.documento div{
	margin-top: 8px;	
}

.documento div nav{
	margin-top: 20px;	
}

#incidencia div{
	margin-top: 8px;	
}

#reunion{
	margin: 0 auto;
	width: 82%;		
}

#reunion div{
	margin-top: 8px;	
}

#reunion div nav{
	margin-top: 20px;
	margin-bottom: 20px;	
}

/*ESTADÃSTICAS*/
.grafica_estadisticas{
	min-width: 500px;
	min-height: 450px;
	margin: 0 auto;
	margin-top:20px;
}

#skyline img{
	width: 962px;
}

article{
	position: relative;
	z-index: 1000;	
}

#leyenda_propietarios span{
	padding: 10px;
	float: right;
	margin-left: 4px;
	border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -o-border-radius: 4px;
}

.color_presidente{
	background: -webkit-linear-gradient(left,rgba(161,202,241,0),rgba(187, 222, 255, 1)); 
  	background: -o-linear-gradient(right,rgba(161,202,241,0),rgba(187, 222, 255, 1)); 
 	background: -moz-linear-gradient(right,rgba(161,202,241,0),rgba(187, 222, 255, 1));
  	background: linear-gradient(to right, rgba(161,202,241,0),rgba(187, 222, 255, 1));
}

.color_vicepresidente{
	background: -webkit-linear-gradient(left,rgba(237,214,169,0),rgba(237,214,169,1)); 
  	background: -o-linear-gradient(right,rgba(237,214,169,0),rgba(237,214,169,1)); 
 	background: -moz-linear-gradient(right,rgba(237,214,169,0),rgba(237,214,169,1));
  	background: linear-gradient(to right, rgba(237,214,169,0), rgba(237,214,169,1));
	/*background-color: #edd6a9 !important;*/
}

#leyenda_reuniones span{
	padding: 10px;
	float: right;
	margin-left: 4px;
	border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -o-border-radius: 4px;
}

/*ESTRUCTURA*/
html, body { 
	height: 100%;
   margin: 0;
	padding:0;
	background: -webkit-linear-gradient(white, #D9E1E8);
   background: -moz-linear-gradient(white, #D9E1E8);
   background: -o-linear-gradient(white, #D9E1E8);
   background: linear-gradient(white, #D9E1E8);	
   background-attachment: fixed;
}

body{
	font-family: sans-serif, serif, Arial, Helvetica;
	font-size: 0.80em; /*12px*/
   color: #2c4853;	
}

/*Cabecera*/
/*Topheader*/
#topheader{
	color:#fff;
	background: #A7BDD0-webkit-linear-gradient(#223E56, #005D84);
   background: -moz-linear-gradient(#223E56, #005D84);
   background: -o-linear-gradient(#223E56, #005D84);
   background: linear-gradient(#223E56, #005D84);
   height: 60px;
   min-width: 962px;
}

#topheader:after{	
	background: url('../images/barra_header.png') repeat-x;
   content: "";
	display: inline-block;
	width: 100%;
	height: 4px;
	margin-bottom: 1px;
}

#tituloheader{
   margin: 0 auto;
   width: 962px;
	position: relative;
	height: 40px;	
}

#idiomas{
	float:right;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
}
#idiomas a img{
	height: 19px;
	width: 19px;
}

/*FOOTER*/
footer{
 	/*background-color: #316431; */
 	height: 50px;
 	background: #A7BDD0;
 	color:#fff;
	min-width: 962px;
	position: absolute;
	width: 100%;
	bottom: 0;
}

#footer{
	width: 962px;
	margin: 0 auto;
	position: relative;
	padding-top:17px;
}

#titulofooter{
	left: 35%;
	width: auto;
	position: absolute;
}

#tecnologiafooter{
	position: relative;
	float: right;
}

/*subheader*/
#subheader{
	/*background-color: #D9E1E8;*/
	height: 50px;
}

#botones{
	margin: 0 auto;
	clear: both;
}

/*Contenido*/
#wrapper{
	width: 962px;
	margin: 0 auto;
	position: relative;	
	padding: 0 0 20px;
	min-height: calc(100vh - 80px);
}

#contenido{
	overflow: hidden;
   width: 100%;	
   clear: both;
}

/*Columna Izquierda*/
#sidebar { 
	height: 35px;
	clear: both;
}

/*Columna Derecha*/
#col-der { 
	text-align: left;
	padding-top: 12px;
	padding-bottom: 60px;
	padding-left: 0;
	padding-right: 0;
	height: 100%;
}

#entrar{
	float:right;
	width: auto;
	display: inline;
}

#skyline{
	position:absolute;
   bottom:46px;
   left: 0;
   right: 0;
}

#administrador{
	position:absolute;
   bottom:60px;
   left: 0;
   right: 0;
}

iframe {
	margin-bottom: 20px;
}

#box{
	min-height: 100%;
	position: relative;
	clear: both;
}

.documento{
	margin-bottom: 18px;	
}

#calendar{
	margin-top: 30px;
	margin-bottom: 20px;	
}

#output_servicio{
	margin-top: 25px;
}

/*VERSION MOVIL*/
@media (max-width: 767px) {
	html, body{
		height: 97%;	
	}
	#box {
		width: auto !important;
	}
	#col-der{
		min-height: auto !important;
		padding:0 2px 12px !important;
	}
	#topheader{
		height: 30px;
		min-width: 100%;
		position: fixed;
		z-index: 2000;
		top: 0;
		width: 300px;
	}
	#tituloheader{
		width: 100%;	
		height: 30px;
	}
	#subheader{
		height: 48px;	
		margin-top: 30px;
		margin-bottom: 10px;
		padding-right: 0;
		width: 100%;
	}
	#wrapper{
		width: 100%;
		padding: 0 0 20px;
		min-height: 400px;
		height: auto;
		min-height: calc(100vh - 50px);
	}
	footer{
		min-width: 100%;	
		height: 20px;
		bottom: 0;
	}
	#footer{
		width: 100%;
		padding-top: 1px;	
	}
	#entrar > a{
		padding: 1px 5px;	
	}
	#entrar > div{
		display: none;	
	}
	#titulofooter{
		left: 10%;
	}
	#topheader:after{
		display: none;	
	}
	#form_login{
		padding: 2px !important;	
		margin:2px auto !mportant;
		width: 295px;
	}
	.form{
		width: auto;
		padding: 2px !important;	
		margin: 0 auto !important;	
	}
	.form_valorar{
		width: auto;		
	}
	h1{
		font-size: 2em !important;	
		margin-left: 0;
		margin-right: 0;
	}
	
	input,select,textarea{
		margin-left: 2px;	
	}
	
	.campo_login{
		margin-left: 2px;
		margin-top: 2px;	
	}
	.campo{
   	margin-top: 2px;
		margin-bottom: 2px;
	}
	#idiomas{
		margin-top: 0;
		margin-left: 1px;
		margin-right: 1px;	
	}
	#idiomas a img{
		width: 14px;
		height: 14px;
		display: block;
	}
	#sidebar{
		height: auto;	
	}
	.grafica_estadisticas{
		min-width: 360px;
		margin: 0 auto;
		margin-top:5px;
	}
	.no_mostrar{
		display: none;	
	}
	.titulofooter{
		font-size: 14px; 
	}
	#titulofooter{
		position: relative;
		text-align: center;
		left: 0;
	}
	textarea:focus{
		-ms-transform: scale(1,1); 
    	-webkit-transform: scale(1,1); 
    	transform: scale(1,1);
   	margin-top: 1px;
	}
	#skyline{
		display: none;	
	}
	#documento{
		width: 100%;
	}
	#reunion{
		width: 100%;	
	}
	#propiedad{
		display: none;
	}
	#tecnologiafooter{
		display: none;	
	}
	#leyenda_propietarios span{
		display: none;	
	}
	#leyenda_reuniones span{
		display: none;	
	}
	#calendar{
		margin-top: 0;	
	}
	.mensaje{
		padding: 5px;	
	}
	input, select, textarea{
		padding: 1px;	
	}
	.documento{
		margin-bottom: 10px;	
	}
	.documento div nav{
		margin-top: 10px;	
	}
	.documento div nav a{
		margin: 0;
		display: inline-block;	
		margin-top: 5px;
	}
	#documento div nav{
		margin-top: 10px;
		margin-bottom: 10px;	
	}
	iframe{
		width: auto;
		border:0;
	}
}