body { 
	font-family: sans-serif, serif, Arial, Helvetica;
	font-size: 0.80em; /*12px*/
   color: #2c4853;
   /*background: -webkit-linear-gradient(#acc6ac, #D9E1E8);
   background: -moz-linear-gradient(#acc6ac, #D9E1E8);
   background: -o-linear-gradient(#acc6ac, #D9E1E8);
   background: linear-gradient(#acc6ac, #D9E1E8);*/
   background-color: #D9E1E8;
	height: 100%;
   margin: 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

/*TIPO_LETRA_TITULO*/
@font-face {
  font-family: 'Miltonian Tattoo';
  font-style: normal;
  font-weight: 400;
  src: local('Miltonian Tattoo'), local('MiltonianTattoo'), url('../css/1oU_8OGYwW46eh02YHydnzhIoxOGKXnDP3ByRnzCG7U.woff') format('woff');
}

.letra_miltonian{
	font-family: 'Miltonian Tattoo', cursive, serif, Arial, Helvetica;	
}

#box{
	width: 962px;
	margin:0 auto;
	position: relative;
	/*margin-top: 20px;
	border-radius:14px;
	-webkit-border-radius:14px;
	-moz-border-radius:14px;
	-o-border-radius:14px;*/
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
	-webkit-border-bottom-left-radius:14px;
	-webkit-border-bottom-right-radius:14px;
	-moz-border-bottom-left-radius:14px;
	-moz-border-bottom-right-radius:14px;
	-o-border-bottom-left-radius:14px;
	-o-border-bottom-right-radius:14px;
	box-shadow: 10px 10px 5px #888888;
	-webkit-box-shadow: 10px 10px 5px #888888;
	-moz-box-shadow: 10px 10px 5px #888888;
	-o-box-shadow: 10px 10px 5px #888888;
}

.clear { 
	clear: both; 
}

.centrado{
	text-align: center;
}

.izquierda{
	text-align: left;
}

.derecha{
	text-align: right;
}

.flotar_izquierda{
	float: left;	
}

.margen_izquierdo{
	margin-left: 38px;	
}

h2{
	font-size: 1.333em;
	margin-bottom: 12px;
	font-family: 'Miltonian Tattoo', cursive, serif, Arial, Helvetica;	
	text-shadow: 0.06em 0.06em 0.02em #C7D4DE;
	-webkit-text-shadow: 0.06em 0.06em 0.02em #C7D4DE;
	-moz-text-shadow: 0.06em 0.06em 0.02em #C7D4DE;
	-o-text-shadow: 0.06em 0.06em 0.02em #C7D4DE;
}

h3{
	font-family: 'Miltonian Tattoo', cursive, serif, Arial, Helvetica;	
   font-weight: bold;	
}

p{
	text-align: justify;	
	line-height: 150%;
}

p+p{
  text-indent: 2em;	
}

.link{
	text-decoration: none;	
   color: #2c4853;
}

.link:hover{
	text-decoration: underline;	
}

.oculto{
	display: none;	
}

.inline{
	display:inline;	
}

.ventana{
	display: none;	
}

#contador{
	text-align: right;	
}

/*Cabecera*/
/*Topheader*/
#header{
	width: 100%;
}

#topheader{
	height: 60px; 
	background: -webkit-linear-gradient(#316431,#5d935d);
   background: -moz-linear-gradient(#316431,#5d935d);
   background: -o-linear-gradient(#316431,#5d935d);
   background: linear-gradient(#316431,#5d935d);
	color:#fff;
	border-bottom: 1px solid #316431;
}

#topheader:after{	
	background: url('../images/barra_header.png') repeat-x;
   content: "";
	display: inline-block;
	width: 100%;
	height: 4px;
}

#tituloheader{
	margin:0 auto;	
}

h1{
	font-size: 3.9em; 	
	margin-left:8px;
	margin-right: 8px;
	margin-top: 0;
	margin-bottom: -8px;
	float: left;
	font-style: oblique;
	font-family: 'Miltonian Tattoo', cursive, serif, Arial, Helvetica;	
	text-shadow: 0.06em 0.06em 0.02em #316431;
	-webkit-text-shadow: 0.06em 0.06em 0.02em #316431;
	-moz-text-shadow: 0.06em 0.06em 0.02em #316431;
	-o-text-shadow: 0.06em 0.06em 0.02em #316431;
}

.cursor_pointer{
	cursor: pointer;	
}
#entre{
	/* Firefox */
	-moz-transform: rotate(0deg);
	-moz-transition: all 0.3s ease;
	/* WebKit */
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s ease;
	/* Opera */
	-o-transform: rotate(0deg);
	-o-transition: all 0.3s ease;
	/* Standard */
	transform: rotate(0deg);
	transition: all 0.3s ease;
		display: -moz-box;
}

#entre:hover{
	/* Firefox */
	-moz-transform: rotate(-4deg);
	-moz-transition: all 0.3s ease;
	/* WebKit */
	-webkit-transform: rotate(-4deg);
	-webkit-transition: all 0.3s ease;
	/* Opera */
	-o-transform: rotate(-4deg);
	-o-transition: all 0.3s ease;
	/* Standard */
	transform: rotate(-4deg);
	transition: all 0.3s ease;
	display: -moz-box;
}

#idiomas{
	float:right;
	width: auto;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;	
}

a img:hover {
  /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.25, 1.25); // This is the enlarged size scale of the image.
  -webkit-transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.25, 1.25);
  -moz-transition-duration: 300ms;
  -moz-transition-timing-function: ease-out; 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.25, 1.25);
  -ms-transition-duration: 300ms;
  -ms-transition-timing-function: ease-out; 
  /*Standard*/
  transform: scale(1.25, 1.25);
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

/*FOOTER*/
footer{
 	/*background-color: #316431; */
 	height: 20px;
 	border-top: 1px solid #316431;
 	background: -webkit-linear-gradient(#5d935d,#316431);
   background: -moz-linear-gradient(#5d935d,#316431);
   background: -o-linear-gradient(#5d935d,#316431);
   background: linear-gradient(#5d935d,#316431);
 	color:#fff;
	width: 100%;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
	-webkit-border-bottom-left-radius:14px;
	-webkit-border-bottom-right-radius:14px;
	-moz-border-bottom-left-radius:14px;
	-moz-border-bottom-right-radius:14px;
	-o-border-bottom-left-radius:14px;
	-o-border-bottom-right-radius:14px;
	padding-top:8px;
	padding-bottom: 8px; 
	margin-bottom: 50px;
}

/*footer:before{	
	background: url('../images/barra_footer.png') repeat-x;
   content: "";
	display: inline-block;
	width: 100%;
	height: 4px;
}*/

#titulofooter{
	left: 35%;
	width: auto;
	position: absolute;
}

#titulofooter a{
	text-decoration: none;
	font-style: oblique;	
}

.titulofooter{
	font-size: 15px; 
	text-shadow: 1px 1px 0 #316431;
	-webkit-text-shadow: 1px 1px 0 #316431;
	-moz-text-shadow: 1px 1px 0 #316431;
	-o-text-shadow: 1px 1px 0 #316431;
}

#tecnologiafooter{
	right: 1%;
	position: absolute;
}

#tecnologiafooter img{
	height: 20px;
}

#tecnologiafooter a{
	text-decoration: none;
	margin-left: 5px;	
}

.amarillo{
	color:#f7d118;	
}

.blanco{
	color:#fff;	
}

.verde{
	color: #316431;	
}

.verde_claro{
	color: #5D935D;	
}

.verdecito{
	color: #b9d4b9;	
}

.rojo{
	color: red;	
}

.naranja{
	color:orange;	
}

.negrita{
	font-weight: bold;	
}

/*subheader*/
#subheader{
	/*background-color: #D9E1E8;*/
	padding-right: 1%;
	height: 58px;
	background: -webkit-linear-gradient(left, white , #c7d4de); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(right, white, #c7d4de); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(right, white, #c7d4de); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to right, white , #c7d4de); /* Standard syntax */
}

#botones{
	margin: 0 auto;
	clear: both;
}

/*Contenido*/
#wrapper{
	clear: both;
}

#contenido{
	width: 100%;
	overflow:hidden;
	clear: both;
}

/*Columna Izquierda*/
#sidebar { 
	clear: both;
	background-color: #fff;
	height: 35px;
}

/*Columna Derecha*/
#col-der { 
	text-align: left;
	padding-top: 10px;
	padding-bottom: 40px;
	padding-left: 45px;
	padding-right: 45px;
	min-height: 350px;
	background: -webkit-linear-gradient(white, #D9E1E8);
   background: -moz-linear-gradient(white, #D9E1E8);
   background: -o-linear-gradient(white, #D9E1E8);
   background: linear-gradient(white, #D9E1E8);
}

/*MENSAJES FLASH DE ERROR Y EXITO*/
.mensaje{
	text-align: center;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	margin-bottom: 5px;
	margin-top:15px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
}

.red{
	color: red;
	border-color: red;	
}

.green{
	color: green;
	border-color: green;	
}

/*FORMULARIO*/
input[type="submit"],input[type="reset"],input[type="button"]{
	background: -webkit-linear-gradient(#316431,#5d935d);
   background: -moz-linear-gradient(#316431,#5d935d);
   background: -o-linear-gradient(#316431,#5d935d);
   background: linear-gradient(#316431,#5d935d);
   color: white;
   border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	/* Webkit for Chrome and Safari */
  -webkit-transition-duration: 250ms;
  -webkit-transition-timing-function: ease-out;
  /* Webkit for Mozila Firefox */
  -moz-transition-duration: 250ms;
  -moz-transition-timing-function: ease-out; 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transition-duration: 250ms;
  -ms-transition-timing-function: ease-out; 
  /*Standard*/
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}

input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover{
	background: -webkit-linear-gradient(#316431,white);
   background: -moz-linear-gradient(#316431,white);
   background: -o-linear-gradient(#316431,white);
   background: linear-gradient(#316431,white);
   color: #316431;
   border-radius: 6px;
   -webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;	
}

input, select, textarea
{
	font-size: 1.167em;
   font-family: Arial, helvetica;
   outline: none;
   transition: all 0.75s ease-in-out;
   -webkit-transition: all 0.75s ease-in-out;
	-moz-transition: all 0.75s ease-in-out;
	-o-transition: all 0.75s ease-in-out;
   border: 1px solid rgba(0,0,0, 0.2);
   color: #355664;
   background-color: white;
   margin-left: 10px;
   resize: none;
   cursor:pointer;
   text-align:left;
   padding: 2px;
   border-radius:8px;
   -webkit-border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
}

textarea{
	width: 90%;	
}

input:focus,textarea:focus,select:focus
{
	box-shadow: 0 0 10px #aaa;
	-webkit-box-shadow: 0 0 10px #aaa;
	-moz-box-shadow: 0 0 10px #aaa;
	-o-box-shadow: 0 0 10px #aaa;
	border: 1px solid orange;
}

#entrar{
	float:right;
	width: auto;
	display: inline;
}

#entrar > a{
	clear: both;
	color:#fff;
	text-decoration: none;
	font-size: 1.1em;
	float: right;
	font-weight: bold;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-bottom-left-radius:8px;
	-moz-border-bottom-right-radius:8px;
	-o-border-bottom-left-radius:8px;
	-o-border-bottom-right-radius:8px;
	background: -webkit-linear-gradient(#5d935d,#759e1a);
   background: -moz-linear-gradient(#5d935d,#759e1a);
   background: -o-linear-gradient(#5d935d,#759e1a);
   background: linear-gradient(#5d935d,#759e1a);
	padding: 2px 10px;;
	margin-bottom: 2px;
	/* Webkit for Chrome and Safari */
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
  /* Webkit for Mozila Firefox */
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out; 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out; 
  /*Standard*/
  transition-duration: 500ms;
  transition-timing-function: ease-out;	
}

#entrar >a:hover{
	background: -webkit-linear-gradient(#5d935d,#316431);
   background: -moz-linear-gradient(#5d935d,#316431);
   background: -o-linear-gradient(#5d935d,#316431);
   background: linear-gradient(#5d935d,#316431);
	color:#f7d118;
	/* Webkit for Chrome and Safari */
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
  /* Webkit for Mozila Firefox */
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out; 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out; 
  /*Standard*/
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

#entrar > div{
	font-size: 1em;
	color:#316431;	
	float: right;
	font-style: oblique;
	clear: both;
}

.form{
	margin: 0 auto;
	margin-top: 20px;
	/*border: 2px outset #316431;*/
	padding: 20px;
	margin-bottom: 20px;
	display: table;
	background: linear-gradient(#D9E1E8, white);
	background: -webkit-linear-gradient(#D9E1E8, white);
   background: -moz-linear-gradient(#D9E1E8, white);
   background: -o-linear-gradient(#D9E1E8, white);
   border-radius:14px;
   -webkit-border-radius:14px;
   -moz-border-radius:14px;
   -o-border-radius:14px;
   width: 600px;
   box-shadow: 10px 10px 5px #888888;
   -webkit-box-shadow: 10px 10px 5px #888888;
   -moz-box-shadow: 10px 10px 5px #888888;
   -o-box-shadow: 10px 10px 5px #888888;
   position: relative;
   z-index: 1000;
}

.campo{
   margin-top: 10px;
   /*width: 300px;*/
   float: left;
	margin-bottom: 5px;
}

#form_olvido_password{
	position: relative;
	z-index: 1000;	
}

#form_login{
	margin: 0 auto;
	margin-top: 20px;
	/*border: 2px outset #316431;*/
	padding: 20px;
	margin-bottom: 20px;
	width: 350px;
	background: -webkit-linear-gradient(#D9E1E8, white);
   background: -moz-linear-gradient(#D9E1E8, white);
   background: -o-linear-gradient(#D9E1E8, white);
   background: linear-gradient(#D9E1E8, white);
   border-radius:14px;
   -webkit-border-radius:14px;
	-moz-border-radius:14px;
	-o-border-radius:14px;
   box-shadow: 10px 10px 5px #888888;
   -webkit-box-shadow: 10px 10px 5px #888888;
   -moz-box-shadow: 10px 10px 5px #888888;
   -o-box-shadow: 10px 10px 5px #888888;
   position: relative;
   z-index: 1000;
}

.campo_login{
    margin-top: 10px;
    /*width: 300px;*/
    margin-left: 30px;
}

.label_campo_login{
	width: 80px;	
	display: inline-block;
	color: #316431;	
}

.label_campo_login:last-child{
	width: auto;
}

.label_campo{
	width: 80px;
	display: table-row;
	color: #316431;	
}

.label_campo2{
	width: 80px;	
	display: inline-block;
	color: #316431;	
}

.label_campo3{
	display:inline-table;
	width: 124px;
	color: #316431;	
}

label {
    color: #316431;
    display: inline;
    width: 80px;
}

.error{
	width: 300px;
	color:red;
	padding: 0;
}

.error > ul{
	display: inline-block; 
	list-style: none;
	padding: 0;
}

#propiedad{
	float: right;
	padding: 10px;
}

.loading{
	display: none;
	background-image: url('../images/loading.gif');
	height:32px;
   width:32px; 
}

/*DOCUMENTOS*/
#documento{
	margin: 0 auto;	
	width: 82%;
}

#documento div{
	margin-bottom: 8px;	
}

.documento div{
	margin-top: 8px;	
}

#incidencia div{
	margin-top: 8px;	
}

#reunion{
	margin: 0 auto;
	width: 82%;		
}

#reunion div{
	margin-top: 8px;	
}

/*ESTADÃSTICAS*/
.grafica_estadisticas{
	min-width: 500px;
	min-height: 450px;
	margin: 0 auto;
	margin-top:20px;
}

#skyline{
	position:absolute;
   bottom:33px;
   right:0;
   left: 0;
}

#skyline img{
	width: 962px;
}

article{
	position: relative;
	z-index: 1000;	
}

#leyenda_propietarios span{
	padding: 3px;
	float: right;
	margin-left: 4px;
	border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -o-border-radius: 5px;
}

.color_presidente{
	background: -webkit-linear-gradient(left,rgba(161,202,241,0),rgba(161,202,241,1)); 
  	background: -o-linear-gradient(right,rgba(161,202,241,0),rgba(161,202,241,1)); 
 	background: -moz-linear-gradient(right,rgba(161,202,241,0),rgba(161,202,241,1));
  	background: linear-gradient(to right, rgba(161,202,241,0), rgba(161,202,241,1));
}

.color_vicepresidente{
	background: -webkit-linear-gradient(left,rgba(237,214,169,0),rgba(237,214,169,1)); 
  	background: -o-linear-gradient(right,rgba(237,214,169,0),rgba(237,214,169,1)); 
 	background: -moz-linear-gradient(right,rgba(237,214,169,0),rgba(237,214,169,1));
  	background: linear-gradient(to right, rgba(237,214,169,0), rgba(237,214,169,1));
	/*background-color: #edd6a9 !important;*/
}

/*VERSION MOVIL*/
@media (max-width: 767px) {
	#box {
   	width: auto !important;
	}
	#col-der{
		min-height: auto !important;
		padding:5px 10px 8px !important;
	}
	#topheader{
		height: 30px;
		min-width: 100%;
		position: fixed;
		z-index: 2000;
		top: 0;
		width: 300px;
	}
	#subheader{
		height: 48px;	
		margin-top: 30px;
	}
	#entrar > a{
		padding: 1px 5px;	
	}
	#entrar > div{
		display: none;	
	}
	#titulofooter{
		left: 10%;
	}
	#topheader:after{
		display: none;	
	}
	#form_login{
		padding: 2px !important;	
		margin:2px auto !mportant;
		width: 295px;
	}
	.form{
		width: auto;
		padding: 2px !important;	
		margin:2px auto !mportant;	
	}
	h1{
		font-size: 2em !important;	
		margin-left: 0;
		margin-right: 0;
	}
	
	input,select,textarea{
		margin-left: 2px;	
	}
	
	.campo_login{
		margin-left: 5px;
		margin-top: 5px;	
	}
	#viewer{
		display: none;	
	}
	#idiomas{
		display: none;	
	}
	#sidebar{
		height: auto;	
	}
	.grafica_estadisticas{
		min-width: 360px;
		margin: 0 auto;
		margin-top:5px;
	}
	.no_mostrar{
		display: none;	
	}
	.titulofooter{
		font-size: 14px; 
	}
	#titulofooter{
		position: relative;
		text-align: center;
		left: 0;
	}
	textarea:focus{
		-ms-transform: scale(1,1); 
    	-webkit-transform: scale(1,1); 
    	transform: scale(1,1);
   	margin-top: 1px;
	}
	#skyline{
		display: none;	
	}
	#documento{
		width: 100%;
	}
	#reunion{
		width: 100%;	
	}
	#propiedad{
		display: none;
	}
	#tecnologiafooter{
		display: none;	
	}
	#leyenda_propietarios span{
		display: none;	
	}
}