/*
    Mobile Menu Core Style
*/
.slicknav_submenu_menu {
	display:none;
}

.slicknav_submenu_btn { position: relative; display: block; vertical-align: middle; float: left; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.slicknav_submenu_menu  .slicknav_submenu_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_submenu_menu .slicknav_submenu_icon { float: left; margin: 0.188em 0 0 0.438em; }
.slicknav_submenu_menu .slicknav_submenu_no-text { margin: 0 }
.slicknav_submenu_menu .slicknav_submenu_icon-bar { display: block; width: 1.125em; height: 0.125em; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.slicknav_submenu_btn .slicknav_submenu_icon-bar + .slicknav_submenu_icon-bar { margin-top: 0.188em }
.slicknav_submenu_nav { clear: both }
.slicknav_submenu_nav ul,
.slicknav_submenu_nav li { display: block; border-bottom: 1px #005D84 solid; }
.slicknav_submenu_nav .slicknav_submenu_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.slicknav_submenu_nav .slicknav_submenu_item { cursor: pointer; }
.slicknav_submenu_nav .slicknav_submenu_row { display: block; }
.slicknav_submenu_nav a { display: block }
.slicknav_submenu_nav .slicknav_submenu_item a,
.slicknav_submenu_nav .slicknav_submenu_parent-link a { display: inline }
.slicknav_submenu_menu:before,
.slicknav_submenu_menu:after { content: " "; display: table; }
.slicknav_submenu_menu:after { clear: both }
/* IE6/7 support */
.slicknav_submenu_menu { *zoom: 1 }

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_submenu_menu {
    font-size:16px;
    font-family: 'Miltonian Tattoo', cursive, serif, Arial, Helvetica;	 
}
/* Button */
.slicknav_submenu_btn {
    margin: 0 0 0;
    text-decoration:none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;  
    background-color: #005D84;
}
/* Button Text */
.slicknav_submenu_menu  .slicknav_submenu_menutxt {
    color: #F7D118;

    font-weight: bold;
    text-shadow: 0 1px 3px #000;
}
/* Button Lines */
.slicknav_submenu_menu .slicknav_submenu_icon-bar {
  background-color: #f5f5f5;
}
.slicknav_submenu_menu {
	background: #337AB7;
   padding:0;
   margin-left: -10px;
   margin-right: -10px;
}
.slicknav_submenu_nav {
    color:#fff;
    margin:0;
    padding:0;
    font-size:0.875em;
}
.slicknav_submenu_nav, .slicknav_submenu_nav ul {
    list-style: none;
    overflow:hidden;
}
.slicknav_submenu_nav ul {
    padding:0;
    margin:0 0 0 20px;
}
.slicknav_submenu_nav .slicknav_submenu_row {
    padding:5px 10px;
    margin:2px 5px;
}
.slicknav_submenu_nav a{
    padding:5px 10px;
    margin:0 2px;
    text-decoration:none;
    color:#fff;
}
.slicknav_submenu_nav .slicknav_submenu_item a,
.slicknav_submenu_nav .slicknav_submenu_parent-link a {
    padding:0;
    margin:0;
}
.slicknav_submenu_nav .slicknav_submenu_row:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background:#ccc;
    color:#fff;
}
.slicknav_submenu_nav a:hover{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #A7BDD0;
    color:white;
}
.slicknav_submenu_nav .slicknav_submenu_txtnode {
     margin-left:15px;   
}

/*VERSION MOVIL*/
@media (max-width: 767px) {
	#submenu {
		display:none;
	}
	
	.slicknav_submenu_menu {
		display:block;
	}
}