.entrada{
	width: 94%;
	background: -webkit-linear-gradient(#D9E1E8, white);
   background: -moz-linear-gradient(#D9E1E8, white);
   background: -o-linear-gradient(#D9E1E8, white);
   background: linear-gradient(#D9E1E8, white);
   padding:10px;
   border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	margin: 10px auto 0;
}

.entrada:hover{
	background: -webkit-linear-gradient(#A7BDD0, white);
   background: -moz-linear-gradient(#A7BDD0, white);
   background: -o-linear-gradient(#A7BDD0, white);
   background: linear-gradient(#A7BDD0, white);
    /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.04, 1.04); // This is the enlarged size scale of the image.
  -webkit-transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.04, 1.04);
  -moz-transition-duration: 300ms;
  -moz-transition-timing-function: ease-out; 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.04, 1.04);
  -ms-transition-duration: 300ms;
  -ms-transition-timing-function: ease-out;
  /* Opera */
  -o-transform: scale(1.04, 1.04);
  -o-transition-duration: 300ms;
  -o-transition-timing-function: ease-out;
  /*Standard*/
  transform: scale(1.04, 1.04);
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.enlace{
	text-decoration: none;
	color: #2C4853;	
}

#nuevos_mensajes{
	float: right;
	
	animation-name: parpadeo;
   animation-duration: 1.5s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   
   -webkit-animation-name:parpadeo;
   -webkit-animation-duration: 1.5s;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;
   
   -moz-animation-name:parpadeo;
   -moz-animation-duration: 1.5s;
   -moz-animation-timing-function: linear;
   -moz-animation-iteration-count: infinite;
   
   -o-animation-name:parpadeo;
   -o-animation-duration: 1.5s;
   -o-animation-timing-function: linear;
   -o-animation-iteration-count: infinite;
   
   -ms-animation-name:parpadeo;
   -ms-animation-duration: 1.5s;
   -ms-animation-timing-function: linear;
   -ms-animation-iteration-count: infinite;
}

@-webkit-keyframes parpadeo {  
  0% { -webkit-opacity: 1.0; }
  50% { -webkit-opacity: 0.1; }
  100% { -webkit-opacity: 1.0; }
}

@-moz-keyframes parpadeo {  
  0% { -moz-opacity: 1.0; }
  50% { -moz-opacity: 0.1; }
  100% { -moz-opacity: 1.0; }
}

@-o-keyframes parpadeo {  
  0% { -o-opacity: 1.0; }
  50% { -o-opacity: 0.1; }
  100% { -o-opacity: 1.0; }
}

@-ms-keyframes parpadeo {  
  0% { -ms-opacity: 1.0; }
  50% { -ms-opacity: 0.1; }
  100% { -ms-opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.1; }
  100% { opacity: 1.0; }
}

/*VERSION MOVIL*/
@media (max-width: 767px) {
	.entrada:hover{
  		-webkit-transform: none;
  		-moz-transform: none;
  		-ms-transform: none;
  		transform: none;
	}
	#nuevos_mensajes span{
		display: none;	
	}
	.entrada{
		padding: 4px;
		width: 99%;
	}
}