{% extends 'ECAdminFincasBundle::layout.html.twig' %}

{% block sidebar %}
 {{ parent() }}
 
{% endblock %}

{% block colder %}
			<div class="subtitulo centrado">Bienvenid@ {{ app.user.nombre }}.</div>
{% endblock %}
