{% extends 'ECAdminFincasBundle::layout.html.twig' %}

{% block sidebar %}
 {{ parent() }}
{% endblock %}

{% block colder %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
    	<div class="flash-notice">
        {{ flashMessage }}
    	</div>
	{% endfor %}
{% endblock %}
