{% extends '::base.html.twig' %}

{% block title %}EntreComunidades - Admin{% endblock %}

{% block sidebar %}
		<div class="subtitulo">Área privada Administrador Web.</div>

{% endblock %}

{% block colder %}

{% endblock %}
