<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
<pdf>
	<dynamic-page>
		<h1 padding="10px" background-color="#316431" width="100%"><span color="yellow">Entre</span><span color="white">Comunidades</span></h1>
		<h2>Comunidad: {{comunidad.codigo}}</h2>
		<p>{{mensaje}}</p>
		<table>
			<tr padding="5px">
				<td text-align="center" font-style="bold">Bloque</td>
				<td text-align="center" font-style="bold">Piso</td>
				<td text-align="center" font-style="bold">Propietario</td>
				<td text-align="center" font-style="bold">Usuario</td>
				<td text-align="center" font-style="bold">Password</td>
			</tr>
			{{imprimir|raw}}
		</table>
		<p text-align="right">{{ "now"|date("d/m/Y") }}</p>
	</dynamic-page>
</pdf>